* {
    font-family: Roboto;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
  }

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color-1{
    background-color: #E1E6E0;
}

.color-2{
    background-color: #F4F6F3;
}

.color-3{
    background-color: #FDFDFD;
}

.titles {
    font-size: large;
    text-align: center;
    font-weight:600;
    padding: 50px;
}
.box-trab-gral{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding-bottom: 60px;
}
.box-trab{
    width: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

.box-img {
    width: 100%;
    height: 300px;
    background-color: aqua;
    background-size: cover;
    filter: grayscale(50%);
    transition: 1s;
}
.box-img:hover{
    filter: grayscale(0%);
}
.box-text{
    text-align: center;
    margin: 15px;
    font-weight: 400;
    border-top: solid 2px #E1E6E0;
    padding-top: 15px;
}

.box-cursos-gral{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding: 30px;
}

.box-item-cursos{
    max-width: 600px;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-item-cursos img {
    max-width: 350px;
}
.box-item-cursos p {
    padding: 15px;
}

