<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/configuration")%>
<body>
    <%- include ("./partials/navbar")%>
    <img src="/img/portada.png" alt="" width="100%" style="border: solid 10px white;">
    <div class="flex-col-center color-2">
        <div class="titles">
            TRABAJOS REALIZADOS <br>
            <b>───</b>
        </div>
        <div class="box-trab-gral">
            <div class="box-trab">
                <div class="box-img"></div>
                <div class="box-text">
                    ─── <br>
                    <b>Mercado Liebre</b> <br>
                    Trabajo realizado grupalmente en Digital House - 2023

                </div>
            </div>
            <div class="box-trab">
                <div class="box-img"></div>
                <div class="box-text">
                    ─── <br>
                    <b>Mercado Liebre</b> <br>
                    Trabajo realizado grupalmente en Digital House - 2023

                </div>
            </div>
            <div class="box-trab">
                <div class="box-img"></div>
                <div class="box-text">
                    ─── <br>
                    <b>Mercado Liebre</b> <br>
                    Trabajo realizado grupalmente en Digital House - 2023

                </div>
            </div>    
                  
        </div>
    </div>
    <%- include ("./partials/footer")%>
    
</body>
</html>