<footer class="color-3">
    <div class="foot-icon">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-whatsapp"></i>
    </div>
    <p>Tel: (336) - 4198645 <br>
    juliana.diaz@live.com</p>

</footer>