<nav class="flex-row-center color-1">
    <img src="/img/logo.png" alt="" height="95%">
    <div class="li-nav">
        <a href="">Home</a>
        <a href="">Cursos</a>
        <a href="">Experiencia</a>
    </div>
</nav>